
.divSlider{
    width: 1000px;
    height: 400px;
    border: 1px solid black;
}

.btn1, .btn2, .btn3{
    padding: 10px;
    margin-top: 10px;
}

.btn2{
    position: absolute;
    left: 450px;
}

.btn3{
    position: absolute;
    left: 887px
}
